
<h1> About Us </h1>

<div class="well well-lg">
	<ul class="list-group">
	  <li class="list-group-item"> Insert information about us, duh. </li>
	  <li class="list-group-item"> What is the purpose of the site? </li>
	</ul>
</div>