<div class="center hero-unit">
    <h1>Aporia: take control by letting go
    </h1>
    <h3>
  		You've found the home page for Aporia.  Check back soon.
		</h3>
		<p>
  		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-success btn-large" %>
		</p>
</div>