<div class="center hero-unit">
    <h1>Aporia: take control by letting go</h1>
    <p>
  		You've found the home page for Aporia.  Check back soon.
		</p>
		<p>
  		<%= link_to "Sign Up Now!", '#' %>
		</p>
</div>